<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/angular-motion/dist/angular-motion.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/vendor/bootstrap-additions.min.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <style>.ng-cloak { visibility: hidden; }</style>
    </head>
    <body ng-app="soformApp">
        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-controller='main' class='container'>
            <table ng-cloak class='table table-responsive table-striped'>
                <thead>
                    <tr>
                        <th ng-repeat='field in definition.views[0].fields'>
                            {{ field }}
                        </th>
                        <th width='150'></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='item in list track by $index'>
                        <td ng-repeat='field in definition.views[0].fields'>
                            {{ item.fields[field] }} 
                        </td>
                        <td>
                            <a href class='btn btn-warning' ng-click='open( item )'>Load</a>
                            <a href class='btn btn-danger' ng-click='remove( item )'>&times;</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class='pull-right'>
                <button class='btn btn-success' ng-click='create()' role='button' > Load blank </button>
                <button class='btn btn-primary' ng-click='save()' role='button' > Save </button>
            </div>
            <ul class='nav nav-tabs'>
                <li ng-class='{ active: tabRoute == "/general" }'>
                    <a ng-href="#/general">General Information</a>
                </li>
                <li ng-class='{ active: tabRoute == "/corrections" }'>
                    <a ng-href="#/corrections">Corrective Actions</a>
                </li>
                <li ng-class='{ active: tabRoute == "/submit" }'>
                    <a ng-href="#/submit">REVIEW and SUBMIT</a>
                </li>
            </ul>

            <div ng-view=""></div>

        </div>



        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
        <script src="bower_components/angular-strap/dist/angular-strap.tpl.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>

        <script src="scripts/directives/checkboxGroup.js"></script>

        <script src="scripts/services/model/incidentDataStructure.js"></script>
        <script src="scripts/services/dataGenerator.js"></script>

        <script src="scripts/services/localStorage.js"></script>
        <script src="scripts/controllers/main.js"></script>

        <script src="scripts/services/converter.js"></script>
        <script src="scripts/services/validator.js"></script>
        <script src="scripts/services/sender.js"></script>

        <script src="scripts/controllers/tabs/cor-act.js"></script>
        <script src="scripts/controllers/tabs/gen-info.js"></script>
        <script src="scripts/controllers/tabs/submit.js"></script>
        <!-- endbuild -->
    </body>
</html>
