<form name='form' class='se-tabcontents form-horizontal' >
    <p class='se-warning bg-warning' ng-if='detail.def.required && detail.items.length == 0'>
        Please complete the table below
    </p>

    <div class='row'>
        <div class='col-xs-6'>

            <div class='form-group' ng-class='{ "has-error" : form.actor.$touched && form.actor.$invalid }'>
                <label for='formField{item.fields.actor.name}}' class='col-sm-3'>{{ item.fields.actor.def.title }}</label>
                <div class=' col-sm-9'>
                    <input id='formField{item.fields.actor.name}}' name='actor' ng-model='item.fields.actor.value' ng-required='item.fields.actor.def.required' type='text' class='form-control' placeholder='{{item.fields.actor.def.placeholder}}' />
                </div>
            </div>

            <div class='form-group' ng-class='{ "has-error" : form.description.$touched && form.description.$invalid }'>
                <label for='formField{item.fields.description.def.name}}' class='col-sm-3'>{{ item.fields.description.def.title }}</label>
                <div class=' col-sm-9'>
                    <textarea id='formField{item.fields.description.def.name}}' name='description' ng-model='item.fields.description.value' ng-required='item.fields.description.def.required' class='form-control' placeholder='{{item.fields.description.def.placeholder}}' ></textarea>
                </div>
            </div>

        </div>
        <div class='col-xs-6'>

            <div class='form-inline form-group' ng-class='{ "has-error" : form.date.$touched && form.date.$invalid }'>
                <label for='formField{item.fields.date.def.name}}' class='col-sm-3'>{{ item.fields.date.def.title }}</label>
                <div class=' col-sm-9'>
                    <input id='formField{item.fields.date.def.name}}' name='date' type='text' size='10' class='form-control' ng-model='item.fields.date.value' ng-required='item.fields.date.def.required'  data-autoclose='1' placeholder='Date' bs-datepicker />
                </div>
            </div>

            <div class='form-group' ng-class='{ "has-error" : form.company.$touched && form.company.$invalid }'>
                <label for='formField{item.fields.company.def.name}}' class='col-sm-3'>{{ item.fields.company.def.title }}</label>
                <div class=' col-sm-9'>
                    <select id='formField{item.fields.company.def.name}}' name='company' ng-model='item.fields.company.value' ng-required='item.fields.company.def.required' type='text' class='form-control' placeholder='{{item.fields.company.def.placeholder}}' ng-options='option.key||option.value as option.value for option in item.fields.company.def.options'></select>
                </div>
            </div>

        </div>
    </div>

    <a class='btn btn-default' ng-click='cancel( form )'> Cancel </a>
    <a class='btn btn-primary' ng-disabled='form.$invalid || detail.items.length>=detail.def.limit ' ng-click='saveItem( form )'> Save </a>
    <span class='text-muted' ng-if='form.$invalid'>
        Please, check the fields
    </span>

    <h2>Immediate Corrective Action(s) <span class='small'> ({{detail.items.length}} of {{ detail.def.limit }} available)</span></h2>

    <table class='table table-responsive'>
        <thead>
            <tr>
                <th ng-repeat='field in itemsDefinitions'>
                    {{ field.title }}
                </th>
                <th width='150'></th><!-- controls placeholder -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='item in detail.items' ng-click='edit( item, $index )' ng-class='{ "bg-primary" :  editing && $index === editingIndex}'>
                <td ng-repeat='field in itemsDefinitions'>
                    {{ item.fields[ field.name ].value }}
                </td>
                <td >
                    <span ng-show='!editing || $index !== editingIndex'>
                        <a href class='text-warning' ng-click='edit( item, $index )' >Edit</a>
                        &nbsp;
                        <a href class='text-danger' ng-click='remove( item )' >Remove</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</form>
