<div class='se-tabcontents se-summary'>

    <p class='se-warning bg-warning clearfix' ng-if='!valid'>
        Please, correct the errors
    </p>

    <div class='form-controls text-center'>
        <button class='btn btn-primary' ng-class='{ disabled : !valid }' ng-click='send()' role='button' > Send </button>
    </div>

    <h2> General Information </h2>
    <ul class='list-unstyled'>
        <li ng-repeat='field in data.fields' class='clearfix' ng-class='{"bg-danger" : field.invalid }'>
            <span class='col-sm-6 field-title'>
                {{ field.def.title }} 
            </span>
            <span class='col-sm-6'>
                <a href='#/general'>
                    {{ fieldValidity( field ) }}
                </a>
            </span>
        </li>
    </ul>

    <h2> Details </h2>
    <ul class='list-unstyled clearfix'>
        <li ng-repeat='detailDefinition in data.def.details'>

            <p class='se-warning bg-danger clearfix' ng-if='detailDefinition.required && !data.details[detailDefinition.name].items.length'>
                <!-- required dictionary is empy -->
                {{detailDefinition.title}} should contain at leas one item
            </p>
            <div ng-if='data.details[detailDefinition.name]' ng-repeat='item in data.details[detailDefinition.name].items'>
                <h3>{{ detailDefinition.title }} #{{ $index + 1 }}</h3>
                <div class='clearfix' ng-repeat='field in item.def.fields'>
                    <span class='col-sm-6 field-title'>
                        {{ field.title }} 
                    </span>
                    <span class='col-sm-6'>
                        <a href='/#corrections'>
                            {{ fieldValidity( item.fields[field.name] ) }}
                        </a>
                    </span>
                </div>
            </div>

        </li>
    </ul>
</div>
