{{hello}}
<div class='form-group'>
    <label for="formField{{field.def.name}}" class='col-sm-3'>{{ field.def.title }}</label>
    <div class='checkBoxes col-sm-9'>
        <fieldset ng-disabled='noneApply'>

            <div ng-repeat='option in options' class="checkbox">
                <label>
                    <input type="checkbox" ng-model='option.value'/>
                    {{ option.title }}
                </label>
            </div>

        </fieldset>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model='noneApply'>
                None apply
            </label>
        </div>
    </div>
</div>

